<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/680fc33537.js" crossorigin="anonymous"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> -->
    <link rel="stylesheet" href="/css/style.css">

    <script >
        <% if (typeof timestamp !== 'undefined') { %>
            let timestamp = `<%= timestamp %>`;
        <% } %>
    </script>
    
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>

    <%- include('middle/modals/user-modal')%> 
    <%- include('middle/modals/comment-edit-modal')%>
     
    <% let bodyObjects = {} %>


    <!--- Navbar -->
    <%- include('navbar/navbar'); -%>


    <main>
        <div class="container">

            <div class="left">
                <% for( let index = 0; index < left.length; index++ ) { %>
                    <%- include('left/' + left[index]); -%>
                <% } %>
            </div>

            <div class="middle">

                

                <% for( let index = 0; index < middle.length; index++ ) { %>

                   
                    <% if (middle[index].type === 'group') { %>
                        <%- include('middle/groups/group', {groupData : middle[index].data}); -%>

                    <% } else if (middle[index].type === 'post') { %>
                        <% if(!bodyObjects.post) { bodyObjects.post = { css : "/css/post.css", js : '/js/posts/post.js' }}%>
                        <%- include('middle/posts/post', {postData : middle[index].data}); -%>

                    <% } else if (middle[index].type === 'posts') { %>
                        <% if(!bodyObjects.post) { bodyObjects.post = { css : "/css/post.css", js : '/js/posts/post.js' }}%>
                        <% for( let post of middle[index].data) { %> <%- include('middle/posts/post', {postData : post}); -%><% } %>
                    
                    <% } else { %>
                        <%- include('middle/' + middle[index].location, {data : middle[index].data}); -%>
                    <% } %> 

                <% } %> 
            
                <%-include('middle/toast-notification')  %> 

            </div>

            <div class="right">
                <% for( let index = 0; index < right.length; index++ ) { %>
                    <%- include('right/' + right[index].location, {data : right[index].data}); -%>
                <% } %>
            </div>

            
        </div>
       
    </main>


    



    <!--  notification modal  -->
    <%- include('middle/modals/notification-modal')%>
    
    <% for( let bodyObject of Object.values(bodyObjects) ) { %>
        <% if (bodyObject.css) { %> <link rel="stylesheet" href="<%= bodyObject.css %>"><% } %>
        <% if (bodyObject.js) { %> <script src="<%= bodyObject.js %>"></script> <% } %>
    <% } %>

</body>
<!-- notification script -->
<script src="/js/notification.js"></script>
</html>