<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/680fc33537.js" crossorigin="anonymous"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <% let bodyObjects = {} %>


    <!--- Navbar -->
    <%- include('navbar/navbar'); -%>


    <main>
        <div class="container">


            <div class="left">
                <% for( let index = 0; index < left.length; index++ ) { %>
                    <%- include('left/' + left[index]); -%>
                <% } %>
            </div>

            <div class="middle">
                <% console.log("inde middle") %> 
                <% console.log(middle) %> 
                
                <% for( let index = 0; index < middle.length; index++ ) { %>

                    <% if (middle[index].type === 'profile') { %>
                        <%- include('middle/profile/profile', {currentUser}); -%>
                    
                    <% } else if (middle[index].type === 'editProfile') { %>
                        <%- include('middle/profile/editProfile', {currentUser}); -%>
                    
                    <% } else if (middle[index].type === 'create-post') { %>
                        <%- include('middle/posts/create_post', {currentUser}); -%>
                    <% } else if (middle[index].type === 'post') { %>
                        <% 
                            if(!bodyObjects.post){
                                console.log("posts exist");
                                bodyObjects.post = '/js/posts/post.js'
                            }
                        %>
                        <%- include('middle/posts/post', {postData : middle[index].content}); -%>
                    <% } %>
                <% } %> 
                
            </div>

            <div class="right">
                <% for( let index = 0; index < right.length; index++ ) { %>
                    <%- include('right/' + right[index]); -%>
                <% } %>
            </div>

            
        </div>
    </main>

    
    <% for( let scriptPath of Object.values(bodyObjects) ) { %>
        <script src=" <%= scriptPath %>  "></script>
        
    <% } %>

</body>
</html>