<div class="message-conversation-head message-conversation-head-hover" id="chat-thumbnail-<%= chat.CONVERSATION_ID %>" onclick="openchat(<%= chat.CONVERSATION_ID%>)">
    <div class="message-profile-picture">
        <img src="<%= image %> " alt="pfp">
    </div>
    <div class="message-head-description">
        <label><%= chat.NAME %></label>
        <div class="message-last-chat">
            <% if (chat.USER_ID === currentUser.USER_ID) { %> 
                <p class="message-chatHead-name">You: &nbsp</p>
            <% }else{ %>
                <p><%= (chat.NAME.split(" ")[0]) %>: &nbsp</p>
            <% } %>  
            <sapn><%= chat.TEXT %> </span>
        </div>
    </div>
</div>