<style>
    .modal-container-postLike{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-in-out;
        
        background-color: rgba(0,0,0,0.3);
        z-index: 5;
    }
    .likes-count{
        cursor: pointer;
    }
    .modal-postLike{
        position: relative;
        background-color: #fff;
        width: 600px;
        border-radius: 10px;
        max-width: 80%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        padding: 30px 50px;
        text-align: center;
    }
    .modal-postLike h1{
        margin: 0;
    }
    .modal-postLike p{
        opacity: 0.7;
    }
    .close-modal-postLike{
        background-color: #47a386;
        border-radius: 5px;
        color: #fff;
        padding: 10px 25px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        font-size: 14px;
        cursor: pointer;
    }
    
    .modal-postLike-active{
        opacity: 1;
        pointer-events: auto;
    }
    .postLike-list-thumbnail{
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
    .postLike-Items{
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    .postLikeList{
        border: 1px solid #000;
        border-radius: 5px;
        height: 400px;
        overflow: auto;
        padding: 15px;
    }
    .postLike-list-userName{
        margin-right: 40px;
        font-size: 1.25em;
    }
    .stopFuntionality{
        pointer-events: none;
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
    .postLike-Items{
        overflow: auto;
    }
</style>
<div class="post">

    <div class="head">
        <div class="user">
            <div class="profile-picture">
                <!------Need to use user's profile pic later-->
                <a href="/user/user_id=<%= postData.USER_ID %> "> <img src="/images/pfp.jpg" alt="pfp"> </a>
                
            </div>
            <div class="ingo">
                <p class="username"><a href="/user/user_id=<%= postData.USER_ID %> "> <%= postData.USERNAME %> </a></p>

                <!--Convert timestamp to proper date time format-->
                <small>
                    <%= postData.TIMESTAMP %>
                </small>
            </div>
        </div>
        <span class="edit dropdown show">
            <!-- <button class="fa-solid fa-ellipsis" style="background-color: transparent;"></button> -->
            <button class="fa-solid fa-ellipsis dropdown-toggle" style="background-color: transparent;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a id="copy-link" class="dropdown-item" href="#"><i class="fa-solid fa-link"></i> &nbsp Copy Link</a>
                <% if (currentUser.USER_ID === postData.USER_ID) { %> 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> &nbsp Edit Post</a>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i>&nbsp Delete Post</a>
                <% } %> 
              </div>
        </span>
    </div>

    <div class="post-text">
        <!--- Need to split the string by paragraphs and make individual paragraph tags for each ones -->
        <p><%= postData.TEXT %></p>
    </div> 
    <% if (postData.IMAGES) { %>
        <!--- Need convert this into a image sidebar. Should be implemented in another ejs -->
        <div id="imageSlider<%= postData.POST_ID %>" class="carousel slide" data-ride="carousel">
            <div class="container-fluid">
                <div class="carousel-indicators">
                    <% for( let index=0; index < postData.IMAGES.length; index++ ) { %>
                        <button type="button" data-bs-target="#imageSlider<%= postData.POST_ID %>" data-bs-slide-to="<%=index %>" <% if(index == 0){ %> class="active" <% } %> ></button>
                    
                    <% } %> 
                </div>
                <div class="carousel-inner">  
                    <% for( let index=0; index < postData.IMAGES.length; index++ ) { %>
                        <div class="carousel-item <% if(index == 0){ %> active <% } %>  ">
                            <div class="photo"><img src=<%=postData.IMAGES[index] %> alt="pfp2"></div>
                        </div>
                    <% } %>  
                </div>
                <a  href="#imageSlider<%= postData.POST_ID %>" class="carousel-control-prev" role="button" data-bs-slide="prev"></a>
                <a  href="#imageSlider<%= postData.POST_ID %>" class="carousel-control-next" role="button" data-bs-slide="next"></a>
            </div>
        </div>
    <% } %>


    <div class="action-buttons">
        <div class="interaction-buttons">
            <span class = like-button id="like-button-<%=postData.POST_ID%>">
            <% if (postData.USER_LIKED === 1) { %>
                <i class="fa-solid fa-heart" style="color: rgb(243, 55, 89);" onclick="unlike(<%=postData.POST_ID%>)" ></i>
            <% } else{ %> 
                <i class="fa-regular fa-heart" onclick="like(<%=postData.POST_ID%>)"></i>
            <% } %>
            </span>
            <span onclick="showLikesModal()" class="likes-count" id="likes-count-<%= postData.POST_ID%>"><%= postData.LIKES_COUNT %> </span>
        </div>
        <div class="comments" data-bs-toggle="modal" data-bs-target="#exampleModal">
            comments
        </div>
    </div>
</div>


