<div class="post">

    <div class="head">
        <div class="user">
            <div class="profile-picture">
                <!------Need to use user's profile pic later-->
                <a href="/user/user_id=<%= postData.USER_ID %> "> <img src="/images/pfp.jpg" alt="pfp"> </a>
                
            </div>
            <div class="ingo">
                <p class="username"><a href="/user/user_id=<%= postData.USER_ID %> "> <%= postData.NAME %> </a></p>

                <!--Convert timestamp to proper date time format-->
                <small>
                    <%= postData.TIMESTAMP %>
                </small>
            </div>
        </div>
        <span class="edit dropdown show">
            <!-- <button class="fa-solid fa-ellipsis" style="background-color: transparent;"></button> -->
            <button class="fa-solid fa-ellipsis dropdown-toggle" style="background-color: transparent;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a id="copy-link" class="dropdown-item" href="#"><i class="fa-solid fa-link"></i> &nbsp Copy Link</a>
                <% if (currentUser.USER_ID != postData.USER_ID) { %> 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> &nbsp Edit Post</a>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i>&nbsp Delete Post</a>
                <% } %> 
              </div>
        </span>
    </div>

    <div class="post-text">
        <!--- Need to split the string by paragraphs and make individual paragraph tags for each ones -->
        <p><%= postData.DESCRIPTION %></p>
    </div> 
    <% if (postData.IMAGES) { %>
        <!--- Need convert this into a image sidebar. Should be implemented in another ejs -->
        <div id="imageSlider<%= postData.POST_ID %>" class="carousel slide" data-ride="carousel">
            <div class="container-fluid">
                <div class="carousel-indicators">
                    <% for( let index=0; index < postData.IMAGES.length; index++ ) { %>
                        <button type="button" data-bs-target="#imageSlider<%= postData.POST_ID %>" data-bs-slide-to="<%=index %>" <% if(index == 0){ %> class="active" <% } %> ></button>
                    
                    <% } %> 
                </div>
                <div class="carousel-inner">  
                    <% for( let index=0; index < postData.IMAGES.length; index++ ) { %>
                        <div class="carousel-item <% if(index == 0){ %> active <% } %>  ">
                            <div class="photo"><img src=<%=postData.IMAGES[index] %> alt="pfp2"></div>
                        </div>
                    <% } %>  
                </div>
                <a  href="#imageSlider<%= postData.POST_ID %>" class="carousel-control-prev" role="button" data-bs-slide="prev"></a>
                <a  href="#imageSlider<%= postData.POST_ID %>" class="carousel-control-next" role="button" data-bs-slide="next"></a>
            </div>
        </div>
    <% } %>


    <div class="action-buttons">
        <div class="interaction-buttons">
            <span><i class="uil uil-thumbs-up"></i></span>
            <span class="likes-count">10</span>
            <i class="uil uil-thumbs-down"></i>
            <span class="likes-count">10</span>
        </div>

        <div class="comments">
            <p onclick="testFunction('<%=postData.NAME%>')">15 comments</p>
        </div>
    </div>
</div>



