<div class="post" id="post-<%= postData.POST_ID %>">

    <div class="head">
        <div class="user">
            <div class="profile-picture">
                <!------Need to use user's profile pic later-->
                <a href="/groups/group_id=<%= postData.GROUP_ID%>/user/user_id=<%= postData.USER_ID%>"> <img src="<%= postData.PROFILE_PIC %>" alt="<%= postData.USERNAME %>"> </a>
                
            </div>
            <div class="ingo">
                <p class="username"><a href="/groups/group_id=<%= postData.GROUP_ID%>/user/user_id=<%= postData.USER_ID%>"> <%= postData.USERNAME %> </a>
                <% if (postData.GROUP_ID > 2) { %> > <a href="/groups/group_id=<%= postData.GROUP_ID %>"><%= postData.GROUP_NAME %></a><% } %>
                </p>

                <small><%= postData.TIMESTAMP %></small>
            </div>
        </div>
        <span class="edit dropdown show">
            <!-- <button class="fa-solid fa-ellipsis" style="background-color: transparent;"></button> -->
            <button class="fa-solid fa-ellipsis dropdown-toggle" style="background-color: transparent;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a id="copy-link" class="dropdown-item" href="#"><i class="fa-solid fa-link"></i> &nbsp Copy Link</a>
                <% if (currentUser.USER_ID === postData.USER_ID) { %> 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> &nbsp Edit Post</a>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i>&nbsp Delete Post</a>
                <% } %> 
              </div>
        </span>
    </div>

    <% if (postData.GROUP_NAME === 'Marketplace') { %>
    <div class="marketplace-info-container">
        <div class="product-info"><strong>Catagory : </strong><%= postData.CATAGORY%></div>
        <div class="product-info"><strong>Condition : </strong><%= postData.CONDITION%></div>
        <div class="product-info"><strong>Price : </strong><%= postData.PRICE%></div>
        <div class="product-info"><strong>Available : </strong><%= postData.AVAILABLE%></div>
    </div>

    <% } %>


    <div class="post-text">
        <p><%= postData.TEXT %></p>
    </div> 
    <% if (postData.FILES) { %>
        
        <div id="imageSlider<%= postData.POST_ID %>" class="carousel slide" data-ride="carousel">
            <div class="container-fluid">
                <div class="carousel-indicators">
                    <% for( let index=0; index < postData.FILES.length; index++ ) { %>
                        <button type="button" data-bs-target="#imageSlider<%= postData.POST_ID %>" data-bs-slide-to="<%=index %>" <% if(index == 0){ %> class="active" <% } %> ></button>
                    <% } %> 
                </div>
                <div class="carousel-inner">  
                    <% for( let index=0; index < postData.FILES.length; index++ ) { %>
                        <% if(postData.FILES[index].FILE_TYPE === 'IMAGE'){ %> 
                            <div class="carousel-item <% if(index == 0){ %> active <% } %>  ">
                                <div class="photo"><img src=<%=postData.FILES[index].FILE_LOCATION %> alt="POST_IMAGE"></div>
                            </div>
                        <% }else if(postData.FILES[index].FILE_TYPE === 'VIDEO'){ %>
                            <div class="carousel-item <% if(index == 0){ %> active <% } %>  ">
                                <video class = "video" controls><source src=<%= postData.FILES[index].FILE_LOCATION%> type="video/mp4" ></video>
                            </div>
                        <% } %> 
                    <% } %>  
                </div>
                <a  href="#imageSlider<%= postData.POST_ID %>" class="carousel-control-prev" role="button" data-bs-slide="prev"></a>
                <a  href="#imageSlider<%= postData.POST_ID %>" class="carousel-control-next" role="button" data-bs-slide="next"></a>
            </div>
        </div>
    <% } %>


    <div class="action-buttons">
        <div class="interaction-buttons">
            <span class = like-button id="like-button-<%=postData.POST_ID%>">
            <% if (postData.USER_LIKED === 1) { %>
                <i class="fa-solid fa-heart" style="color: rgb(243, 55, 89);" onclick="unlike(<%=postData.POST_ID%>)" ></i>
            <% } else{ %> 
                <i class="fa-regular fa-heart" onclick="like(<%=postData.POST_ID%>)"></i>
            <% } %>
            </span>
            <span class="likes-count" id="likes-count-<%= postData.POST_ID%>" onclick="getLikersList(<%=postData.POST_ID%>)"  ><%= postData.LIKES_COUNT %> </span>
        </div>
        <div class="comments-count" id="comments-count-<%= postData.POST_ID %>" onclick="showComments(<%= postData.GROUP_ID%>, <%= postData.POST_ID%>,<%=currentUser.USER_ID%>)">
            <%= postData.COMMENT_COUNT%> comments
        </div>
    </div>
    
    <hr>
    <div class="comments" style="display: none;">
        
        <p class="hide-comments" onclick="hideComments(<%= postData.POST_ID%>)">Hide comments</p>
        
        <div class="comments-list">

        </div>
    </div>


    
    
    <div class="comment-image-preview" id="comment-image-preview-<%= postData.POST_ID%>"></div>

    <div class="add-comment">
        <form action="" class="comment-form">
            <!-- comment attach preview  -->
            <div class="comment-image-preview-container">
                <input type="file" name="comment_image" class="comment-image-input" id="comment-image-file-input-<%= postData.POST_ID%>" accept="image/png, image/jpeg" onchange="comment_image_preview(<%= postData.POST_ID%>)" hidden>
            </div>
            <label for="comment-image-file-input-<%= postData.POST_ID%>" class="comment-attach-image-button"><i class="fa-solid fa-paperclip"></i></label>
            <textarea class = "comment-text-input" name="comment_text_input" rows="1" placeholder="Write a comment..." oninput="textarea_auto_grow(this)" ></textarea>
            <div class="comment-submit" onclick="send_comment(<%= postData.POST_ID%>, <%= postData.GROUP_ID%>, <%= currentUser.USER_ID%>)"><i class="fa-solid fa-paper-plane"></i></div>
        </form>
    </div>
    


</div>