<style>

.middle .edit-profile-box {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 0 0;
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    line-height: 1.5;
}


.edit-form input, select {
  width: 270px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    background-color: transparent;
}
.container-edit{
    padding: 12px 12px 12px 12px;
}
.btn-block{
    width: 100%;
    margin-top: 15px;;
}
.hidden_message-edit{
    color : red;
}

.delete-account{
    background-color: var(--color-danger);
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-white);
    width: 100%;
    padding: var(--btn-padding);
    border-radius: 2rem;
    text-align: center;
    font-weight: 500;
}

#delete_profile_modal input{
    width: 100%;
    border: 1px solid var(--color-gray);
    padding: 1rem;
    margin-top: 1rem;
}


</style>

<div class="edit-profile-box">
    <div class="container-edit">
        <h1>Edit Profile</h1>
            
        <form class = "edit-form" id="edit-form"> <!-- action="/user/editProfile" method="post" >  newsfee.js's /edit action="/newsfeed/editProfile" method="post" -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="edit-profile-name" value="<%- currentUser.NAME %>" required>
            </div>
            <div class="form-group">
                <label for="student_id">Student Id</label>
                <input type="number" name="student_id" id="edit-profile-student_id" value="<%- currentUser.STUDENT_ID %>" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="edit-profile-email" value="<%- currentUser.EMAIL %>" required>
            </div>
            <div class="form-group">
                <label for="dof">Date of Birth</label>
                <%
                var date = new Date(Date.parse(currentUser.DATE_OF_BIRTH) - new Date().getTimezoneOffset() * 60000);
                var year = date.getUTCFullYear();
                var month = date.getUTCMonth() + 1;
                month = (month < 10 ? "0" : "") + month;
                var day = date.getUTCDate();
                day = (day < 10 ? "0" : "") + day;
                var dateString = year + "-" + month + "-" + day;
                
                %>
                <!--change date time to timezone utc+06:00 then add the value-->
                <input type="date" name="dob" id="edit-profile-dof" value="<%- dateString  %>">
                
            </div>
            <div class="form-group">
                <label for="hall">Hall</label>
                <select name="hall" id="edit-profile-hall">
                    <option value="" disable hidden <% if(currentUser.HALL === null){ %>selected<% } %> ></option>
                    <option value="Suhrawardy Hall" <% if(currentUser.HALL === 'Suhrawardy Hall'){ %>selected<% } %>  >Suhrawardy Hall</option>
                    <option value="Sher-e-Bangla Hall" <% if(currentUser.HALL === 'Sher-e-Bangla Hall'){ %>selected<% } %> >Sher-e-Bangla Hall</option>
                    <option value="Ahsan Ullah Hall" <% if(currentUser.HALL === 'Ahsan Ullah Hall'){ %>selected<% } %> >Ahsan Ullah Hall</option>
                    <option value= "Chattri Hall" <% if(currentUser.HALL === 'Chattri Hall'){ %>selected<% } %>>Chattri Hall</option>
                    <option value="Kazi Nazrul Islam Hall" <% if(currentUser.HALL === 'Kazi Nazrul Islam Hall'){ %>selected<% } %>>Kazi Nazrul Islam Hall</option>
                    <option value="Titumir Hall" <% if(currentUser.HALL === 'Titumir Hall'){ %>selected<% } %>>Titumir Hall</option>
                    <option value="Dr. M. A. Rashid Hall" <% if(currentUser.HALL === 'Dr. M. A. Rashid Hall'){ %>selected<% } %>>Dr. M. A. Rashid Hall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="attachment">Attachment</label>
                <select name="attachment" id="edit-profile-attachment">
                    <option value="" disable hidden <% if(currentUser.HALL_ATTACHMENT === null){ %>selected<% } %> ></option>
                    <option value="R" <% if(currentUser. HALL_ATTACHMENT == 'R'){ %>selected<% } %> >Resident</option>
                    <option value="A" <% if(currentUser. HALL_ATTACHMENT == 'A'){ %>selected<% } %>>Attached</option> 
                </select>
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" name="street" id="edit-profile-street" value="<%- currentUser.STREET %> ">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="city" id="edit-profile-city"  value="<%- currentUser.CITY %>">
            </div>
            <div class="form-group">
                <label for="postcode">Post Code</label>
                <input type="number" name="postcode" id="edit-profile-postcode" value="<%- currentUser.POSTCODE %>" >
            </div>
            <div class="form-group">
                <label for="edit-profile-new-password">New password</label>
                <input type="password" name="new-password" id="edit-profile-new-password" onchange="onPasswordChange()">
            </div>
            <div class="form-group">
                <label for="edit-profile-confirm-password">Confirm New password</label>
                <input type="password" name="confirm-password" id="edit-profile-confirm-password" onchange="onPasswordChange()">
            </div>
            <hr>
            <div class="form-group">
                <label for="edit-profile-current-password">Current password</label>
                <input type="password" name="current-password" id="edit-profile-current-password" required>
            </div>
            <p class="hidden_message" id="edit-profile-hidden_message"></p>
            <div id="edit-no-success">

            </div>
            <button id="edit-profile-editProfile" class="btn btn-primary btn-block" type="submit" name="submit">Save</button>
        </form>

        <hr>

        <div class="delete-account" data-bs-toggle="modal" data-bs-target="#delete_profile_modal">
            <i class="fa-solid fa-triangle-exclamation"></i> Delete account
        </div>
        
    </div>

        
     
    <script>
        const edit = document.getElementById('edit-form');
        edit.addEventListener('submit',function(e){
            e.preventDefault();
            editProfile(<%- currentUser.USER_ID %>);
        });
    </script>

    <script src="/js/profile/editProfile.js"></script>
</div>

<!-- delete profile -->
<div class="modal fade" id="delete_profile_modal" tabindex="-1" aria-labelledby="delete_profile_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-profile-modal-label">Delete Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="font-size: 1.2rem; font-weight: 500;">Are you sure you want to delete your account?</p>
          <p style="font-size: 0.8rem; color: red;">This action cannot be undone</p>
          
            <input id="user_password" type="password" placeholder="Enter password to proceed" name="password" required>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="deleteAccount()" data-bs-dismiss="modal" aria-label="Close">Delete</button>
        </div>
      </div>
    </div>
</div>


<script>


    async function deleteAccount(){

        const password = document.getElementById('user_password').value;
        
        
        const res = await axios.post('/user/deleteAccount',{
            password: password
        });

        if(res.data === 'success') window.location.href = '/auth/signout';
        else alert(res.data);
        

    }

</script>