<style>

#numberOfFollwers:hover{
    cursor: pointer;
}
#numberOfFollowing:hover{
    cursor: pointer;
}

.view-user-profile {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 0 0;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 100%; 
}
.view-user-profile .head{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}
.view-user-profile .user {
    width: 25%;
    aspect-ratio: 1/1;
    
}
.view-user-profile .profile-picture{
    width: 100%;    
    position: relative;
}
.profile-picture-border{
    border: 5px solid hsl(252, 75%, 60%);
    outline-offset: 15px;
}
.view-user-profile .profile-picture img{
    width: 100%;
    height: 100%;
    padding: 0.2vw;
    border-radius: 100%;
}
.view-user-profile .side{
    width: 60%;
    margin-right: 2rem;
}
.view-user-profile .popularity {
    width: 100%;
    padding : 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.view-user-profile .followers{
    text-align: center;
}
.view-user-profile .follow-number{
    font-size: 2rem;
    font-weight: 500;
}
.view-user-profile .buttons{
    display: flex;
    gap : 1rem;
}
.view-user-profile .buttons a{
    width: 100%;
}
.view-user-profile .buttons .btn{
    width: 100%;
}
.view-user-profile .user-info{
    padding: 1rem;
}
.view-user-profile .name{
    font-size: 1.5rem;
    font-weight: 500;
}
.view-user-profile .other-text{
    font-size: 0.9rem;
}
.view-user-profile .user-info p{
    font-size: 0.9rem;
}
.profile-picture-update{
    position: absolute;
    height: 30%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-white);
    top: 70%;
    right: 0;
    z-index: 100;
    font-size: 1.2vw;
}
.profile-image-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profile-image-priview-design{
    height: 15vw;
    width: auto;
    border-radius: 50%;
}
.profile-image-container-inside-modal{
    position: relative;
    height: 15vW;
    width: auto;
    margin: 2vw;
}
.profile-picture-preview-remove{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
.profile-image-edit-options{
    margin: 1vw 0;
    cursor: pointer;
}
</style>

<div class="view-user-profile">
    <div class="head">
        <div class="user"">
            <div class="profile-picture">
                <!------Need to use user's profile pic later-->
                <img class="profile-picture-border" src="<%= user.PROFILE_PIC %>" alt="<%= user.NAME %>" >
                <% if (user.USER_ID == currentUser.USER_ID) { %>
                    <button class="profile-picture-update" data-bs-toggle="modal" data-bs-target="#profile-picture-update-modal">
                        <i class="fa-solid fa-camera" ></i>
                    </button>
                <% } %>
                
            </div>

        </div>
        <div class="side">
            <div class="popularity">
                <div class="followers" id="numberOfPost">
                    <p class="follow-number"><%=user.post_count%></p>
                    <p class="follow-text">Posts</p>
                </div>
                <div class="followers" id="numberOfFollwers" onclick="getFollowerList(<%=user.USER_ID%>, <%=currentUser.USER_ID%>)">
                    <p class="follow-number"><%=user.follower_count%></p>
                    <p class="follow-text">Follower</p>
                </div>

                <div class="followers" id="numberOfFollowing" onclick="getFollowingList(<%=user.USER_ID%>)">
                    <p class="follow-number"><%=user.following_count%></p>
                    <p class="follow-text">Following</p>
                </div>
            </div>

            <div class="buttons">

                <% if (currentUser.USER_ID != user.USER_ID) { %>
                    <!--------- Need to check if already following ------->
                    <% if (user.followed) { %>
                        <button class="btn btn-blank" onclick="unfollow(<%=user.USER_ID%>)">Following</button>
                    <% } else if (user.requested) { %>
                        <button class="btn btn-blank" onclick="unfollow(<%=user.USER_ID%>)">Requested</button>
                    <% } else { %>
                        <button class="btn btn-primary" onclick="requestFollow(<%=user.USER_ID%>)">Follow</button>
                    <% } %>
                    <a href="/message/<%= user.USER_ID %>" class="btn btn-primary">Message</a>
                <% } else { %>
                    <a href="/user/editProfile"><button class="edit-profile btn btn-primary">edit-profile</button></a></a>
                <% } %>
                                   
            </div>
        </div>
    </div>
    <div class="user-info">
        <p><span class="name"><%= user.NAME %></span><span class="text-muted other-text student_id">&nbsp;(@<%= user.STUDENT_ID %>)</span></p>
        <p class="text-muted">Department of <%- user.DEPARTMENT %> </p>

        <% if(user.HALL){ %>
            <p class="text-muted" ><%- user.HALL %> Hall
                <% if(user.HALL_ATTACHMENT){ %>
                    <% if(user.HALL_ATTACHMENT=='A') {%>
                        ( Attached )
                    <% } else { %>
                        ( Resident )
                    <% } %>  
                <% } %> 
            </p> 
        <% } %>

        <% if(user.STREET || user.CITY) { %>
            <p class="text-muted"><%- user.STREET %>
                <% if (user.STREET || user.CITY)  { %>
                 ,
                <% } %>
                <%- user.CITY %> 
                <% if(user.POSTCODE) { %>
                    - <%- user.POSTCODE %> 
                <% } %>
            </p>
        <% } %>
        <% const month = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %> 
        <% if(user.DATE_OF_BIRTH){ %>
            <p class="text-muted"><i class="fa-solid fa-cake-candles"></i>&nbsp<%- (user.DATE_OF_BIRTH).getDate() %>  <%- month[(user.DATE_OF_BIRTH).getMonth()] %> </p>  
        <% } %>

        
    </div>
</div>


<% if (user.USER_ID == currentUser.USER_ID) { %>

<!-- Modal -->
<div class="modal fade" id="profile-picture-update-modal" tabindex="" role="dialog" aria-labelledby="profilePictureUpdate" aria-hidden="true">
    <div class="modal-dialog " role="document">
    <div class="modal-content">
        <form action="" id="profile-picture-update-form">
            <div class="modal-header">
                <h5 class="modal-title" id="profilePictureUpdate">Update Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="close_profile_picture_update()"></button>
            </div> 
            <div class="profile-image-preview" id="profile-image-preview"></div>
            <div class="modal-body profile-picture-update-modal-body">
            
                    <div class="profile-image-preview-container" id="profile-image-preview-container">
                        <input type="file" name="profile_picture" class="profile-image-input" id="profile-image-file-input" accept="image/png, image/jpeg" onchange="profile_picture_update_image_preview(<%= user.USER_ID%>)" hidden>
                    </div>
                    <label for="profile-image-file-input" class="profile-attach-image-button profile-image-edit-options"><i class="fa-solid fa-2xl fa-circle-plus"></i>&nbsp; <span id="select-profile-pic-line">Select a profile pic</span></label>
                    <div  class="profile-attach-image-button-remove-dp profile-image-edit-options" onclick="update_profile_picture('remove-pfp')"><i class="fa-solid fa-2xl fa-circle-minus"></i>&nbsp; <span id="select-profile-pic-line">Remove current profile pic</span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="update_profile_picture('update_pfp')">Save changes</button>
            </div>
         </form>
    </div>
    </div>
</div>
<% } %>            


<script>

    
    
    async function close_profile_picture_update(resetForm = true){
        // clear image preview
        document.getElementById('profile-image-preview').innerHTML = '';

        // clear form
        if(resetForm) document.getElementById('profile-picture-update-form').reset();

    }

    async function profile_picture_update_image_preview(user_id){

        const file_input = document.getElementById(`profile-image-file-input`);
        console.log(file_input.files);
        const file = file_input.files[0];
        const image_preview = document.getElementById(`profile-image-preview`)
        image_preview.innerHTML = "";
        const advice = document.getElementById('select-profile-pic-line');
        // if file is an image
        if (file.type.match("image.*")) {
            let reader = new FileReader();
            reader.onload = function (e) {
                let div = document.createElement("div");
                div.classList.add("profile-image-container-inside-modal")
                let img = document.createElement("img");
                img.classList.add("profile-image-priview-design")
                img.src = e.target.result;
                div.appendChild(img);
                image_preview.appendChild(div);
                advice.innerText = "Select another profile pic";
                // add a close button
                let profileRemoveContainer = document.createElement('div');
                profileRemoveContainer.classList.add("profile-picture-preview-remove");
                let close_button = document.createElement("i");
                close_button.className = `fa-solid fa-xl fa-circle-xmark `;
                profileRemoveContainer.appendChild(close_button);
                close_button.onclick = function(){
                    image_preview.innerHTML = "";
                    file_input.value = "";
                    advice.innerText = "Select a profile pic";
                }

                div.appendChild(profileRemoveContainer);
            }
            reader.readAsDataURL(file);
        }
    }
    
    async function update_profile_picture(action){
        
        let form_data;
        if(action == 'update_pfp'){
            const form = document.getElementById(`profile-picture-update-form`);
            form_data = new FormData(form);
        }

        else form_data = new FormData();
        form_data.append('action', action);
        close_profile_picture_update(false);

        let res;
        
        try{
            res = await axios({
                method: 'post',
                url: `/user/update-profile-picture`,
                data: form_data,
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
        }catch(err){
            alert(err);
        }

        if(res.data === 'success') window.location.reload();
        else alert(res.data);

       
    }


    async function requestFollow(USER_ID){
        const data = {
            USER_ID : USER_ID,
        }
        const res = await axios.post("/follow/requestFollow", data)

        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in requestFollow")
        }
    }

    async function unfollow(USER_ID){
        const data = {
            USER_ID : USER_ID,
        }
        const res = await axios.post("/follow/unfollow", data)

        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in unfollow")
        }
    }


    async function removeFollower(USER_ID){
        const data = {
            USER_ID : USER_ID,
        }
        const res = await axios.post("/follow/removeFollower", data)
        if(res.data === "success"){
            document.querySelector(`#modal-userlist-user-${USER_ID} .modal-userlist-action-buttons`).remove();
        }else{
            console.log("error in remove follower")
        }
    }



    
    async function getFollowerList(user_id, currentUser_id){

        const res = await axios.get("/follow/getFollowerList/", {params : {USER_ID : user_id}});
        const followers = res.data;

        const modalBody = document.getElementById('user-modal').querySelector('.modal-body');
        const modalTitle = document.getElementById('user-modal').querySelector('.modal-title');
        
        modalTitle.innerHTML = `Followers : ${followers.length}`;
        modalBody.innerHTML = "";

        for (let i = 0; i < followers.length; i++) {

            let follower_name = followers[i].NAME;
            let follower_id = followers[i].USER_ID;

        

            const str = `<div class = "modal-userlist-users" id = "modal-userlist-user-${follower_id}">
                            <div class = "modal-userlist-userinfo">
                                <a href="/user/user_id=${follower_id}"  class="modal-userlist-userpic"><div class = "profile-picture"><img src="${followers[i].PROFILE_PIC}"></div></a>
                                <a href="/user/user_id=${follower_id}"  class="modal-userlist-username">${follower_name}</a>
                            </div>
                            <% if (user.USER_ID == currentUser.USER_ID) { %>
                            <div class = "modal-userlist-action-buttons">
                                <button class="follower-list-remove btn btn-primary"  onclick = "removeFollower(${follower_id})">Remove</button>
                            </div>
                            <% } %>
                        </div>`;
            modalBody.innerHTML += str;
        }

        user_modal.show();
    }


    async function getFollowingList(user_id){
        const res = await axios.get("/follow/getFollowingList/", {params : {USER_ID : user_id}});
        const followings = res.data;

        const modalBody = document.getElementById('user-modal').querySelector('.modal-body');
        const modalTitle = document.getElementById('user-modal').querySelector('.modal-title');
        
        modalTitle.innerHTML = `Following : ${followings.length}`;
        modalBody.innerHTML = "";

        for (let i = 0; i < followings.length; i++) {

            let followee_name = followings[i].NAME;
            let followee_id = followings[i].USER_ID;

            const str = `<div class = "modal-userlist-users" id = "modal-userlist-user-${followee_id}">
                            <div class = "modal-userlist-userinfo">
                                <a href="/user/user_id=${followee_id}"  class="modal-userlist-userpic"><div class = "profile-picture"><img src="${followings[i].PROFILE_PIC}"></div></a>
                                <a href="/user/user_id=${followee_id}"  class="modal-userlist-username">${followee_name}</a>
                            </div>
                        </div>`;
            modalBody.innerHTML += str;
        }

        user_modal.show();
    }

</script>



