<style>

#numberOfFollwers:hover{
    cursor: pointer;
}
#numberOfFollowing:hover{
    cursor: pointer;
}

.view-user-profile {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 0 0;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 100%; 
}
.view-user-profile .head{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}
.view-user-profile .user {
    width: 25%;
    aspect-ratio: 1/1;
}
.view-user-profile .profile-picture{
    width: 100%;
    border-radius: 100%;
    border: 5px solid hsl(252, 75%, 60%);
    padding: 4px;
}
.view-user-profile .profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.view-user-profile .side{
    width: 60%;
    margin-right: 2rem;
}
.view-user-profile .popularity {
    width: 100%;
    padding : 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.view-user-profile .followers{
    text-align: center;
}
.view-user-profile .follow-number{
    font-size: 2rem;
    font-weight: 500;
}
.view-user-profile .buttons{
    display: flex;
    gap : 1rem;
}
.view-user-profile .buttons a{
    width: 100%;
}
.view-user-profile .buttons .btn{
    width: 100%;
}
.view-user-profile .user-info{
    padding: 1rem;
}
.view-user-profile .name{
    font-size: 1.5rem;
    font-weight: 500;
}
.view-user-profile .other-text{
    font-size: 0.9rem;
}
.view-user-profile .user-info p{
    font-size: 0.9rem;
}
</style>

<div class="view-user-profile">
    <div class="head">
        <div class="user">
            <div class="profile-picture">
                <!------Need to use user's profile pic later-->
                <img src="/images/pfp.jpg" alt="pfp" >
            </div>
        </div>
        <div class="side">
            <div class="popularity">
                <div class="followers" id="numberOfPost">
                    <p class="follow-number"><%=user.post_count%></p>
                    <p class="follow-text">Posts</p>
                </div>
                <div class="followers" id="numberOfFollwers" onclick="getFollowerList(<%=user.USER_ID%>, <%=currentUser.USER_ID%>)">
                    <p class="follow-number"><%=user.follower_count%></p>
                    <p class="follow-text">Follower</p>
                </div>

                <div class="followers" id="numberOfFollowing" onclick="getFollowingList(<%=user.USER_ID%>)">
                    <p class="follow-number"><%=user.following_count%></p>
                    <p class="follow-text">Following</p>
                </div>
            </div>

            <div class="buttons">

                <% if (currentUser.USER_ID != user.USER_ID) { %>
                    <!--------- Need to check if already following ------->
                    <% if (user.followed) { %>
                        <button class="btn btn-blank" onclick="unfollow(<%=user.USER_ID%>)">Following</button>
                    <% } else if (user.requested) { %>
                        <button class="btn btn-blank" onclick="removeFollowRequestToUser(<%=user.USER_ID%>)">Requested</button>
                    <% } else { %>
                        <button class="btn btn-primary" onclick="requestFollow(<%=user.USER_ID%>)">Follow</button>
                    <% } %>
                    <button class="btn btn-primary">Message</button>
                <% } else { %>
                    <a href="/user/editProfile"><button class="edit-profile btn btn-primary">edit-profile</button></a></a>
                <% } %>
                                   
            </div>
        </div>
    </div>
    <div class="user-info">
        <p><span class="name"><%= user.NAME %></span><span class="text-muted other-text student_id">&nbsp;(@<%= user.STUDENT_ID %>)</span></p>
        <p class="text-muted">Department of <%- user.DEPARTMENT %> </p>

        <% if(user.HALL){ %>
            <p class="text-muted" ><%- user.HALL %> Hall
                <% if(user.HALL_ATTACHMENT){ %>
                    <% if(user.HALL_ATTACHMENT=='A') {%>
                        ( Attached )
                    <% } else { %>
                        ( Resident )
                    <% } %>  
                <% } %> 
            </p> 
        <% } %>

        <% if(user.STREET || user.CITY) { %>
            <p class="text-muted"><%- user.STREET %>
                <% if (user.STREET || user.CITY)  { %>
                 ,
                <% } %>
                <%- user.CITY %> 
                <% if(user.POSTCODE) { %>
                    - <%- user.POSTCODE %> 
                <% } %>
            </p>
        <% } %>
        <% const month = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %> 
        <% if(user.DATE_OF_BIRTH){ %>
            <p class="text-muted"><i class="fa-solid fa-cake-candles"></i>&nbsp<%- (user.DATE_OF_BIRTH).getDate() %>  <%- month[(user.DATE_OF_BIRTH).getMonth()] %> </p>  
        <% } %>

        
    </div>
</div>



<script>

    var user_modal = new bootstrap.Modal(document.getElementById('user-modal'), {});

    async function requestFollow(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/requestFollow", data)

        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in requestFollow")
        }
    }

    async function unfollow(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/unfollow", data)

        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in remove follow")
        }
    }


    async function removeFollower(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/removeFollower", data)
        if(res.data === "success"){
            document.querySelector(`#modal-userlist-user-${USER_ID} .modal-userlist-action-buttons`).remove();
        }else{
            console.log("error in remove follower")
        }
    }


    async function removeFollowRequestToUser(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/removeFollowRequestToUser", data)
        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in remove follow req")
        }
    }

    async function getFollowerList(user_id, currentUser_id){

        const res = await axios.get("/follow/getFollowerList/", {params : {USER_ID : user_id}});
        const followers = res.data;

        const modalBody = document.getElementById('user-modal').querySelector('.modal-body');
        const modalTitle = document.getElementById('user-modal').querySelector('.modal-title');
        
        modalTitle.innerHTML = `Followers : ${followers.length}`;
        modalBody.innerHTML = "";

        for (let i = 0; i < followers.length; i++) {

            let follower_name = followers[i].NAME;
            let follower_id = followers[i].USER_ID;

        

            const str = `<div class = "modal-userlist-users" id = "modal-userlist-user-${follower_id}">
                            <div class = "modal-userlist-userinfo">
                                <a href="/user/user_id=${follower_id}"  class="modal-userlist-userpic"><div class = "profile-picture"><img src="/images/pfp.jpg"></div></a>
                                <a href="/user/user_id=${follower_id}"  class="modal-userlist-username">${follower_name}</a>
                            </div>
                            <% if (user.USER_ID == currentUser.USER_ID) { %>
                            <div class = "modal-userlist-action-buttons">
                                <button class="follower-list-remove btn btn-primary"  onclick = "removeFollower(${follower_id})">Remove</button>
                            </div>
                            <% } %>
                        </div>`;
            modalBody.innerHTML += str;
        }

        user_modal.show();
    }


    async function getFollowingList(user_id){
        const res = await axios.get("/follow/getFollowingList/", {params : {USER_ID : user_id}});
        const followings = res.data;

        const modalBody = document.getElementById('user-modal').querySelector('.modal-body');
        const modalTitle = document.getElementById('user-modal').querySelector('.modal-title');
        
        modalTitle.innerHTML = `Following : ${followings.length}`;
        modalBody.innerHTML = "";

        for (let i = 0; i < followings.length; i++) {

            let followee_name = followings[i].NAME;
            let followee_id = followings[i].USER_ID;

            const str = `<div class = "modal-userlist-users" id = "modal-userlist-user-${followee_id}">
                            <div class = "modal-userlist-userinfo">
                                <a href="/user/user_id=${followee_id}"  class="modal-userlist-userpic"><div class = "profile-picture"><img src="/images/pfp.jpg"></div></a>
                                <a href="/user/user_id=${followee_id}"  class="modal-userlist-username">${followee_name}</a>
                            </div>
                        </div>`;
            modalBody.innerHTML += str;
        }

        user_modal.show();
    }

</script>



