<style>
.view-user-profile {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 0 0;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 100%; 
}

.view-user-profile .head{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}


.view-user-profile .user {
    width: 25%;
    aspect-ratio: 1/1;
}

.view-user-profile .profile-picture{
    width: 100%;
    border-radius: 100%;
    border: 5px solid hsl(252, 75%, 60%);
    padding: 4px;
}

.view-user-profile .profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.view-user-profile .side{
    width: 60%;
    margin-right: 2rem;

}
.view-user-profile .popularity {
    width: 100%;
    padding : 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}


.view-user-profile .followers{
    text-align: center;
}

.view-user-profile .follow-number{
    font-size: 2rem;
    font-weight: 500;
}

.view-user-profile .buttons{
    display: flex;
    gap : 1rem;
}
.view-user-profile .buttons a{
    width: 100%;
}
.view-user-profile .buttons .btn{
    width: 100%;
}

.view-user-profile .user-info{
    padding: 1rem;
}

.view-user-profile .name{
    font-size: 1.5rem;
    font-weight: 500;
}

.view-user-profile .other-text{
    font-size: 0.9rem;
}

.view-user-profile .user-info p{
    font-size: 0.9rem;
}

</style>

<div class="view-user-profile">
    <div class="head">
        <div class="user">
            <div class="profile-picture">
                <!------Need to use user's profile pic later-->
                <img src="/images/pfp.jpg" alt="pfp" >
            </div>
        </div>
        <div class="side">
            <div class="popularity">
                <div class="followers">
                    <p class="follow-number"><%=user.post_count%></p>
                    <p class="follow-text">Posts</p>
                </div>
                <div class="followers">
                    <p class="follow-number"><%=user.follower_count%></p>
                    <p class="follow-text">Follower</p>
                </div>

                <div class="followers">
                    <p class="follow-number"><%=user.following_count%></p>
                    <p class="follow-text">Following</p>
                </div>
            </div>

            <div class="buttons">

                <% if (currentUser.USER_ID != user.USER_ID) { %>
                    <!--------- Need to check if already following ------->
                    <% if (user.followed) { %>
                        <button class="btn btn-blank" onclick="removeFollow(<%=user.USER_ID%>)">Following</button>
                    <% } else if (user.requested) { %>
                        <button class="btn btn-blank" onclick="removeFollowRequest(<%=user.USER_ID%>)">Requested</button>
                    <% } else { %>
                        <button class="btn btn-primary" onclick="requestFollow(<%=user.USER_ID%>)">Follow</button>
                    <% } %>
                    <button class="btn btn-primary">Message</button>
                <% } else { %>
                    <a href="/user/editProfile"><button class="edit-profile btn btn-primary">edit-profile</button></a></a>
                <% } %>
                                   
            </div>
        </div>
    </div>
    <div class="user-info">
        <p><span class="name"><%= user.NAME %></span><span class="text-muted other-text student_id">&nbsp;(@<%= user.STUDENT_ID %>)</span></p>
        <p class="text-muted">Department of <%- user.DEPARTMENT %> </p>

        <% if(user.HALL){ %>
            <p class="text-muted" ><%- user.HALL %> Hall
                <% if(user.HALL_ATTACHMENT){ %>
                    <% if(user.HALL_ATTACHMENT=='A') {%>
                        ( Attached )
                    <% } else { %>
                        ( Resident )
                    <% } %>  
                <% } %> 
            </p> 
        <% } %>

        <% if(user.STREET || user.CITY) { %>
            <p class="text-muted"><%- user.STREET %>
                <% if (user.STREET || user.CITY)  { %>
                 ,
                <% } %>
                <%- user.CITY %> 
                <% if(user.POSTCODE) { %>
                    - <%- user.POSTCODE %> 
                <% } %>
            </p>
        <% } %>
        <% const month = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %> 
        <% if(user.DATE_OF_BIRTH){ %>
            <p class="text-muted"><i class="fa-solid fa-cake-candles"></i>&nbsp<%- (user.DATE_OF_BIRTH).getDate() %>  <%- month[(user.DATE_OF_BIRTH).getMonth()] %> </p>  
        <% } %>
    </div>
</div>


<script>
    
    async function requestFollow(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/requestFollow", data)
        console.log(res)

        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in requestFollow")
        }
    }

    async function removeFollow(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/removeFollow", data)
        console.log(res)
        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in remove follow")
        }
    }


    async function removeFollowRequest(USER_ID){
        const data = {
            USER_ID : USER_ID
        }
        const res = await axios.post("/follow/removeFollowRequest", data)
        console.log(res)
        if(res.data === "success"){
            window.location.reload();
        }else{
            console.log("error in remove follow req")
        }
    }

</script>



